<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>My test page</title>
  </head>
  <body>
    <label for="valeur-select">Choisir l'abscisse:</label>

    <form action="abscisse">
        <select name="valeur" id="valeur-select" onchange="if(this.value != 0) { this.form.submit(); }">
            <option value="0">--Choisir une valeur--</option>
            <option value="Type local">Type de local</option>
            <option value="Code departement">Departement</option>
            <option value="Commune">Commune</option>
        </select>
    </form>
  </body>

  <a href="{% url 'accueil' %}">home</a>
</html>