<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>My test page</title>
  </head>
  <body>
    <label for="valeur2-select">Choisir l'ordonnée:</label>

    <form action="ordonnee">
        <select name="valeur2" id="valeur2-select" onchange="if(this.value != 0) { this.form.submit(); }">
            <option value="0">--Choisir une valeur--</option>
            <option value="Valeur fonciere">Valeur fonciere moyenne</option>
            <option value="Nombre de ventes">Nombre de ventes moyen</option>
        </select>
    </form>
  </body>

  <a href="{% url 'accueil' %}">home</a>
  {{valeur}}
</html>